.textBreadcrumb {
    padding-top: 3px;
}
.breadcrumb{
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;    
}
.breadcrumbLi{
    float:left;
}
.arrowRightCateg {
    padding-top: 5px;
}

.rootButton {
    text-transform: initial;
}
.breadcrumbCategName {
    padding-top: 8px;
    padding-left:10px;
    padding-right:10px;
}
